@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: #FF6464;
  /* background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  font-family: "work sans";
}

html{
  font-size: 100%;
}

#signupform{
  max-width: 900px;
  min-width: 300px;
  max-height: 680px;
  width: 80%;
  height: 90%;
  margin: 60px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 1rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 500px;
}

#leftHalfSignUp
{
  float:left;
  width:50%;
  height:280px;
}

#middleHalfSignUp
{
  padding-top: 400px;
  align-items: center;
  padding-left: 25%;
  width:50%;
}

#rightHalfSignUp
{
  float:right;
  width:50%;
  height:280px;
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.0rem;
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: .5;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  color: rgba(0,0,0,0.9);
}

.row button{
  align-items: center;
  border-radius: 25px;
  width: 70%;
  height: 40px;
  font-size: 1.0rem;
  color: white;
  font-weight: 700;
  background: #FF6464;
  /* background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}

#registerButton
{
  margin: 42%;
  padding-top: 10px;
}